# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android
android/.gradle/
android/app/build/
android/local.properties
android/key.properties

# Generated outputs
*.apk
*.aab
*.ipa
*.mp4
*.mov
*.avi
*.mkv

# Flutter SDK - если случайно лежит внутри проекта
flutter/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db